// module.exports = {
//     storyblok: {
//       export: {
//         previewToken: 'token',         // for export -> Delivery API
//         options: {                                  // Content Delivery Parameters
//           // starts_with: '/your-folder-slug',      // folder you want to export as CSV,
//           version: 'draft',                         // version of content that should be exported
//           per_page: 100,                            // 100 is max atm
//           page: 10                                   // can be upped as needed.
//         }
//       }
//     }
//   }